@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700");

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 50px 100px;
    background:linear-gradient(180deg, rgba(37,37,37, 0.85) 100%, rgba(37,37,37,1) 100%),url("./assets/dots.png");
}
.hero-title {
    width: 36vw;
}
.hero-circle {
    width: 55vw;
    height: 55vw;
}
.hero-circle-small {
    width: 20vw;
    height: 20vw;
    position: absolute;
    right: -10vw;
    bottom: 0;
}
.reviews-quote{
    width:5vw;
}

/** 
    Typography
*/
.title {
    line-height: 88px;
    font-weight: bold;
}

/** 
    Navbar Styling
*/
.nav-container {
    height: 30px;
    cursor: pointer;
}
.code-close {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.nav-text {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    line-height: 2;
}
